{% extends "main.html" %}
{% block 'title' %}Consulta de viagens{% endblock %}

{% block 'head' %}
  {% load static  %}
  <link rel="stylesheet" href="{% static 'viagem/css/viagem_find.css' %}">

  <script>
      //Usado no viagem_find.js
      const URL_ORIGEM = "{% url 'viagem:origem_options' %}";
      const URL_DESTINO = "{% url 'viagem:destino_options' %}";
      const URL_FIND = "{% url 'viagem:query_find' %}"
     
  </script>  

  <script src="{% static 'viagem/js/viagem_find.js' %}"></script>
{% endblock %}

{% block 'nav' %}
    {% include 'home/nav.html' %}
{% endblock %}
{% block 'body' %}



<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8 form-container">
            <h2 class="text-center mb-4">🚏 Consulte a sua viagem: 🚏</h2>
            <h4 class="text-center mb-4">Informe ao menos Origem e Destino:</h4>

    <form id="form_consulta_viagem" method="POST" action="#">
    {% csrf_token %}
        <div class="row">
            <div class="col-md-4">
                <label for="origem">Origem</label>
                <select class="form-control" id="origem" name="origem">
                    <!-- opções carregadas via JS -->
                </select>    
            </div>

            <div class="col-md-4">
                <label for="destino">Destino</label>
                <select class="form-control" id="destino" name="destino">
                    <!-- opções carregadas via JS -->
                </select>    
            </div>

            <div class="col-md-4">
                <label for="partida">Partida</label>
                <input type="date" class="form-control" id="partida" name="partida" value="">
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-12 text-center">
                <button type="button" onclick="viagem_find_submit()" class="btn btn-primary">🔍 Pesquisar</button>
            </div>
        </div>

    </form>

    </div>
    </div>
</div>

<div class="mt-4" id="resultado_consulta" style="width:80%;margin: 0 auto" >
    <!-- Os resultados serão carregados aqui -->
</div>


{% endblock %}
